.wrapper
  .any-question
    .any-question__title Остались вопросы?
    .any-question__text
      .any-question__call позвоните
      .any-question__phone  +7 (495) 772-678-1
    .any-question__fill или заполните 
      a.link(href="#!") заявку на сайте
    .any-question__img: img(src=require('../../img/any-question-img.png'), alt="")