mixin card(title, img, price, desc, oldPrice, discount)
  .card
    .card__inner
      a.link(href="#!").card__img
        img(src=img, alt="")

        if discount && discount == 'new'
          .card__label.card__label--green New
        if discount && discount == 'hit'
          .card__label.card__label--blue Хит
        if discount && (discount != 'new' && discount != 'hit')
          .card__label 5%
      .card__content
        a.link(href="#!").link--blue.card__title= title
        
        .card__desc= desc
        if oldPrice
          .card__oldprice 23600 руб.
        .card__price= price
          | руб.
        .card__action
          include counter.pug
          a(href="#!").card__buy.btn Заказать