// Footer
footer.footer
  .footer__main
    .wrapper
      .footer__flex
        .footer__col
          ul.footer__catalog
            li: a.link(href="#!").link--blue Лодочные моторы Mercury
            li: a.link(href="#!").link--blue Лодочные моторы
            li: a.link(href="#!").link--blue Надувные лодки ПВХ
            li: a.link(href="#!").link--blue Туристическое снаряжение
        .footer__col
          ul.footer__menu
            li: a.link(href="#!").link--blue О компании
            li: a.link(href="#!").link--blue Новости
            li: a.link(href="#!").link--blue Статьи
            li: a.link(href="#!").link--blue Доставка и оплата
            li: a.link(href="#!").link--blue Гарантия
            li: a.link(href="#!").link--blue Контакты
        .footer__col
          ul.footer__info
            li.footer__info-item
              .footer__info-icon: img(src=require('../../img/map.svg'), alt="")
              .footer__info-text г.Москва, 14-км МКАД, Птичий рынок, вход №10, пав-н 6-12, магазин "Два Весла",
                a.link(href="#!").link--blue.link--underline схема проезда
            li.footer__info-item
              .footer__info-icon: img(src=require('../../img/phone.svg'), alt="")
              .footer__info-text
                a(href="tel:+7 (495) 772-678-1").link +7 (495) 772-678-1
            li.footer__info-item
              .footer__info-icon: img(src=require('../../img/mail.svg'), alt="")
              .footer__info-text
                a(href="mailto:shop@2vesla.ru").link.link--blue.link--underline shop@2vesla.ru

  .footer__bottom
    .wrapper
      .footer__flex
        .footer__col © 2008—2019 «Два весла». Все права защищены.
        .footer__col
          a.link(href="#!").link--blue Карта сайта
        .footer__col
          .footer__agency Создание сайта, поддержка <br/> и продвижение сайта:
            img(src=require('../../img/ustrong.png'), alt="")