header.header
  .wrapper
    .header__inner
      .header__top
        .header__menu
          a.link.link--blue(href="#!").header__menu-link Новости
          a.link.link--blue(href="#!").header__menu-link О компании
          a.link.link--blue(href="#!").header__menu-link Доставка и оплата
          a.link.link--blue(href="#!").header__menu-link Гарантия
          a.link.link--blue(href="#!").header__menu-link Контакты
        a.link(href="tel:+7(495)772-678-1").header__phone.txt-c-blue + 7 (495) 772-678-1
      .header__main
        a(href="#!").header__logo.link
          img(src=require('../../img/logo.svg'), alt="")
        include search.pug
        a.link(href="#!").header__wholesalers
          img(src=require('../../img/oars.svg'), alt="")
          span Оптовикам
        a.link(href="#!").header__cart
          .header__cart-label Корзина
          .header__cart-value
            img(src=require('../../img/cart-icon.svg'), alt="").header__cart-icon
            .header__cart-count 99

  .main-nav
    .wrapper
      .main-nav__inner
        .main-nav__item.main-nav__item--catalog
          img(src=require('../../img/burger.svg'), alt="").main-nav__icon
          .main-nav__name Каталог
          .catalog-list
            .wrapper
              .catalog-list__inner
                .catalog-list__item
                  .catalog-list__title Лодочные моторы Mercury
                  .catalog-list__content
                    ul
                      li: a.link(href="#!") Mercury: двухтактные
                      li: a.link(href="#!") Mercury: четырехтактные
                      li: a.link(href="#!") Mercury: Optimax
                      li: a.link(href="#!") Mercury: Verado
                      li: a.link(href="#!") Mercury: водометные
                      li: a.link(href="#!") Mercury: SeaPro
                      li: a.link(href="#!") История
                      li: a.link(href="#!") Сервис и гарантия
                .catalog-list__item
                  .catalog-list__title Лодочные моторы
                  .catalog-list__content
                    ul
                      li: a.link(href="#!") HDX
                      li: a.link(href="#!") Nissan
                      li: a.link(href="#!") Tohatsu
                      li: a.link(href="#!") Suzuki
                      li: a.link(href="#!") Gladiator
                      li: a.link(href="#!") Электромоторы Haswing
                      li: a.link(href="#!") Электромоторы HDX

                .catalog-list__item
                  .catalog-list__title Лодки ПВХ
                  .catalog-list__content
                    ul
                      li: a.link(href="#!") Мнев и К (Кайман)
                      li: a.link(href="#!") Посейдон
                      li: a.link(href="#!") АКВА
                      li: a.link(href="#!") Solar
                      li: a.link(href="#!") Gladiator
                      li: a.link(href="#!") Ривьера
                      li: a.link(href="#!") Фрегат

                    ul
                      li: a.link(href="#!") НПО Наши лодки
                      li: a.link(href="#!") Flinc
                      li: a.link(href="#!") Нептун
                      li: a.link(href="#!") Корсар
                      li: a.link(href="#!") Лодки HDX
                      li: a.link(href="#!") FORT
                      li: a.link(href="#!") Marlin

                    ul
                      li: a.link(href="#!") Таймень
                      li: a.link(href="#!") Apache
                      li: a.link(href="#!") ProfMarine
                      li: a.link(href="#!") Адмирал
                      li: a.link(href="#!") Стелс
                      li: a.link(href="#!") Феникс
                      li: a.link(href="#!") Хантер

                .catalog-list__item
                  .catalog-list__title Туристическое снаряжение
                  .catalog-list__content
                    ul
                      li: a.link(href="#!") Надувнвые кресла Марко
                      li: a.link(href="#!") Ботс
                      li: a.link(href="#!") Тележки для лодочных моторов

        .main-nav__item
          img(src=require('../../img/mercury-engine.svg'), alt="").main-nav__icon
          .main-nav__name моторы Mercury
          .main-nav__sublist
            ul
              li: a.link(href="#!") Mercury: двухтактные
              li: a.link(href="#!") Mercury: четырехтактные
              li: a.link(href="#!") Mercury: Optimax
              li: a.link(href="#!") Mercury: Verado
              li: a.link(href="#!") Mercury: водометные
              li: a.link(href="#!") Mercury: SeaPro
              li: a.link(href="#!") История
              li: a.link(href="#!") Сервис и гарантия
        .main-nav__item
          img(src=require('../../img/boat-engine.svg'), alt="").main-nav__icon
          .main-nav__name Лодочные моторы
          .main-nav__sublist
            ul
              li: a.link(href="#!") Mercury: двухтактные
              li: a.link(href="#!") Mercury: четырехтактные
              li: a.link(href="#!") Mercury: Optimax
              li: a.link(href="#!") Mercury: Verado
              li: a.link(href="#!") Mercury: водометные
              li: a.link(href="#!") Mercury: SeaPro
              li: a.link(href="#!") История
              li: a.link(href="#!") Сервис и гарантия
        .main-nav__item
          img(src=require('../../img/boats-icon.svg'), alt="").main-nav__icon
          .main-nav__name лодки ПВХ
          .main-nav__sublist
            ul
              li: a.link(href="#!") Mercury: двухтактные
              li: a.link(href="#!") Mercury: четырехтактные
              li: a.link(href="#!") Mercury: Optimax
              li: a.link(href="#!") Mercury: Verado
              li: a.link(href="#!") Mercury: водометные
              li: a.link(href="#!") Mercury: SeaPro
              li: a.link(href="#!") История
              li: a.link(href="#!") Сервис и гарантия
        .main-nav__item
          img(src=require('../../img/equipment-icon.svg'), alt="").main-nav__icon
          .main-nav__name Тур. снаряжение
          .main-nav__sublist
            ul
              li: a.link(href="#!") Mercury: двухтактные
              li: a.link(href="#!") Mercury: четырехтактные
              li: a.link(href="#!") Mercury: Optimax
              li: a.link(href="#!") Mercury: Verado
              li: a.link(href="#!") Mercury: водометные
              li: a.link(href="#!") Mercury: SeaPro
              li: a.link(href="#!") История
              li: a.link(href="#!") Сервис и гарантия

//header mobile
header.header-mob
  .wrapper
    .header-mob__inner
      .header-mob__col
        .header-mob__burger.js-header-mob__burger
          img(src=require('../../img/burger.svg'), alt="").header-mob__burger-open
          img(src=require('../../img/close.svg'), alt="").header-mob__burger-close
        a(href="#!").header-mob__logo.link
          img(src=require('../../img/logo-white.svg'), alt="")
      .header-mob__col
        a.link(href="tel:+7(495)772-678-1").header-mob__phone + 7 (495) 772-678-1
        a.link(href="#!").header-mob__cart
          img(src=require('../../img/cart.svg'), alt="").header-mob__cart-icon
          .header-mob__cart-value 999

  .header-mob__catalog
    .header-mob__catalog-search
      a.link(href="tel:+7(495)772-678-1").header-mob__phone + 7 (495) 772-678-1
      include search.pug
      a.link(href="#!").header__wholesalers
        img(src=require('../../img/oars-red.svg'), alt="")
        span Оптовикам

    .catalog-list
      .catalog-list__inner
        .catalog-list__item
          img(src=require('../../img/mercury-engine.svg'), alt="").catalog-list__icon
          .catalog-list__title Лодочные моторы Mercury
          .catalog-list__content
            ul
              li: a.link(href="#!") Mercury: двухтактные
              li: a.link(href="#!") Mercury: четырехтактные
              li: a.link(href="#!") Mercury: Optimax
              li: a.link(href="#!") Mercury: Verado
              li: a.link(href="#!") Mercury: водометные
              li: a.link(href="#!") Mercury: SeaPro
              li: a.link(href="#!") История
              li: a.link(href="#!") Сервис и гарантия
        .catalog-list__item
          img(src=require('../../img/boat-engine.svg'), alt="").catalog-list__icon
          .catalog-list__title Лодочные моторы
          .catalog-list__content
            ul
              li: a.link(href="#!") HDX
              li: a.link(href="#!") Nissan
              li: a.link(href="#!") Tohatsu
              li: a.link(href="#!") Suzuki
              li: a.link(href="#!") Gladiator
              li: a.link(href="#!") Электромоторы Haswing
              li: a.link(href="#!") Электромоторы HDX

        .catalog-list__item
          img(src=require('../../img/boats-icon.svg'), alt="").catalog-list__icon
          .catalog-list__title Лодки ПВХ
          .catalog-list__content
            ul
              li: a.link(href="#!") Мнев и К (Кайман)
              li: a.link(href="#!") Посейдон
              li: a.link(href="#!") АКВА
              li: a.link(href="#!") Solar
              li: a.link(href="#!") Gladiator
              li: a.link(href="#!") Ривьера
              li: a.link(href="#!") Фрегат

            ul
              li: a.link(href="#!") НПО Наши лодки
              li: a.link(href="#!") Flinc
              li: a.link(href="#!") Нептун
              li: a.link(href="#!") Корсар
              li: a.link(href="#!") Лодки HDX
              li: a.link(href="#!") FORT
              li: a.link(href="#!") Marlin

            ul
              li: a.link(href="#!") Таймень
              li: a.link(href="#!") Apache
              li: a.link(href="#!") ProfMarine
              li: a.link(href="#!") Адмирал
              li: a.link(href="#!") Стелс
              li: a.link(href="#!") Феникс
              li: a.link(href="#!") Хантер

        .catalog-list__item
          img(src=require('../../img/equipment-icon.svg'), alt="").catalog-list__icon
          .catalog-list__title Туристическое снаряжение
          .catalog-list__content
            ul
              li: a.link(href="#!") Надувнвые кресла Марко
              li: a.link(href="#!") Ботс
              li: a.link(href="#!") Тележки для лодочных моторов