doctype html
html(lang='en')
  head  
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://unpkg.com/sanitize.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:900&display=swap&subset=cyrillic-ext" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    block title
  body
    .page
      .page__header
        include header.pug
      .page__body
        block content
      .page__footer
        include footer.pug