mixin news-item(img, title, desc)
  .news-item
    a.link(href="#!").news-item__img
      img(src=img, alt="")
    a.link(href="#!").news-item__title= title
    .news-item__desc= desc
    .news-item__date 19 марта