.pagination
  .pagination__inner
    a.link(href="#!").pagination__page.pagination__prev Назад
    .pagination__list
      a.link(href="#!").pagination__page 1
      a.link(href="#!").pagination__page 2
      a.link(href="#!").pagination__page 3
      a(href="#!").link.pagination__page.pagination__page--current 4
      a(href="#!").link.pagination__page 5
    a(href="#!").link.pagination__page.pagination__next Показать еще