include card.pug

.products-slider
  .wrapper
    .products-slider__title.h2 Хиты продаж
    .js-products-slider
      .products-item
        +card('Marlin 320SLK', require('../img/products/product-1.jpg'), '1 100 000', '', true, true)
      .products-item
        +card('Nissan Marine NM 9.8 BS', require('../img/products/product-2.jpg'), '1 100 000', 'Nissan Marine - это надежность и мощь! Представляем вам лодочный мотор Nissan Marine 9.8, мощностью 9,8 л.с.')
      .products-item
        +card('Посейдон Касатка-365', require('../img/products/product-3.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку', true)
      .products-item
        +card('Подвесной лодочный мотор Mercury ME F 200 L Verado', require('../img/products/product-4.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку')
      .products-item
        +card('Marlin 320SLK', require('../img/products/product-1.jpg'), '1 100 000')