.filter-range
  input(type="text").filter-range__slider(data-min="5500" data-max="150000")
  .filter-range__bottom
    .filter-range__value.from
      input(type="text").js-number
    .filter-range__value.to
      input(type="text").js-number