html,
:root {
  overflow-x: hidden;
}

body {
  font-family: $primary-font;
  color: #000;
  font-size: 16px;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.4;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: relative;
    z-index: 5;
  }

  &__body {
    flex-grow: 1;
  }
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

//grid

.d-flex {
  display: flex;
  margin: -20px -20px 0;
  &--wrap {
    flex-wrap: wrap;
  }
  .col {
    flex-grow: 1;
    &-50 {
      width: 50%;
      padding: 20px;
    }
    &-25 {
      width: 25%;
    }
  }
}

/* Typography */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  // font-family: $secondary-font;
  font-weight: bold;
  margin: 25px 0;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 20px;
}

ul.list-with-icon {
  list-style-type: none;
  margin-left: 0;
  position: relative;
  padding-left: 30px;
  margin-top: 25px;
  
  li {
    margin-bottom: 8px;
    &:before {
      content: url('../img/list-icon.png');
      position: absolute;
      left: 0;
    }
  }
}

@include media($screen-sm) {
  body {
    font-size: 14px;
  }

  h1,
  .h1 {
    font-size: 36px;
  }
  h2,
  .h2 {
    font-size: 20px;
  }
}

@include media($screen-xs) {
  h1,
  .h1 {
    font-size: 26px;
  }
  .wrapper {
    padding: 0 15px;
  }
}

.txt-c-blue {
  color: $primary-blue!important;
}
.text-bold {
  font-weight: bold;
}
.text-white {
  color: #fff;
}
.text-italic {
  font-style: italic;
}
.text-thin {
  font-weight: 300;
}

/* Links */
.link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  outline: none;
  transition: .3s;

  &:hover {
    color: $primary-blue;
  }

  &--underline {
    text-decoration: underline;
  }

  &--blue {
    color: $primary-blue;
  }
}


/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: $primary-dark-blue;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 0 30px;
  height: 44px;
  min-width: 194px;
  text-align: center;
  white-space: nowrap;
  transition: .3s;
  text-decoration: none;

  &:hover {
    color: #fff;
    background: lighten($primary-dark-blue, 10%);
  }

  &--red,
  &--blue {
    border: 1px solid $primary-red;
    border-radius: 6px;
    font-size: 12px;
    padding: 12px 20px;
    background: none;
    min-width: auto;
    font-weight: 400;
  }

  &--red {
    color: $primary-red;
    border-color: $primary-red;
    &:hover {
      background: none;
      border-color: $primary-dark-red;
      color: $primary-dark-red;
    }
  }

  &--blue {
    color: $primary-blue;
    border-color: $primary-blue;
    &:hover, &.active {
      background: $primary-blue;
      border-color: $primary-dark-blue;
      color: #fff;
    }
  }
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: $primary-font;
  font-size: 14px;
  width: 100%;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;

  &::placeholder {
    font-size: 14px;
    color: #C4C4C4;
    font-family: $primary-font;
  }
}

input {
  height: 40px;
  line-height: 40px;
}

textarea {
  height: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.field {
  &__label {
    font-size: 12px;
    margin-bottom: 6px;
  }
}

// popup
.popup {
  background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
}
/**
 * Fade-zoom animation for first dialog
*/

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

/* ANIMATION on SCROLL */
$animation-delay: .2s;
$animation-translate: 70px;


.js-block-anim {
  transition: .7s;
  opacity: 0;
  transition-delay: $animation-delay;
  &.visible {
    opacity: 1;
    transform: translate(0, 0)!important;
  }
  &.anim-left {
    transform: translateX(-$animation-translate);
  }
  &.anim-right {
    transform: translateX($animation-translate);
  }
  &.anim-top {
    transform: translateY(-$animation-translate);
  }
  &.anim-bottom {
    transform: translateY($animation-translate);
  }

  &.anim-delay-2 {
    transition-delay: $animation-delay * 2;
  }
  &.anim-delay-3 {
    transition-delay: $animation-delay * 3;
  }
  &.anim-delay-4 {
    transition-delay: $animation-delay * 4;
  }
}

.slick-slide {
  outline: none !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  padding: 0;
  list-style-type: none;
  button {
    display: none;
  }
  li {
    background: rgba(202, 228, 255, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      width: 12px;
      height: 12px;
      content: '';
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 4px;
      background: $primary-blue;
      visibility: hidden;
    }

    &.slick-active {
      &:after {
        visibility: visible;
      }
    }
  }
}

.slick-track {
  display: flex;

  .slick-slide {
    display: flex;
    height: auto;
  }
}

.checkbox{
  display: flex;
  width: 100%;
  font-size: 14px;
  input {
    display: none;
    &:checked + .checkbox__view {
      &:after {
        content: url('../img/check.svg');
        position: absolute;
        left: 3px;
        top: -2px;
      }
    }
  }

  &__view {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #EEEEEE;
    margin-right: 14px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__count {
    color: $input-border-color;
  }
}

.pagination {
  margin: 30px 0 60px;
  font-size: 12px;
  color: $primary-blue;

  &__inner {
    display: flex;
  }

  .link {
    color: $primary-blue;
  }

  &__page {
    text-align: center;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    padding: 13px 0;
    transition: .3s;

    &--current {
      cursor: unset;
    }

    &--current,
    &:hover {
      background: $light-bg;
    }
  }

  &__prev {
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
  }
  &__next {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
  }

  &__list {
    display: flex;
    .pagination__page {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      width: 54px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media($screen-xs) {
    &__inner {
      flex-direction: column;
    }
    &__list {
      margin: 0 0 15px;
      justify-content: center;
      order: -1;
      .pagination__page {
        width: 40px;
      }
    }

    &__prev,
    &__next {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}

.tab-link {
  text-decoration: none;
}
.tab-nav {
  display: flex;
  margin-bottom: 30px;
}

.tab-block {
  display: none;
  &.active {
    display: block;
  }
}

.breadcrumb {
  margin: 15px 0;
  color: $primary-blue;
  font-size: 12px;

  &__link {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .link {
    color: $primary-blue;
  }
}


.select2-container {
  min-width: 230px!important;
  outline: none!important;
  font-size: 13px;

  @include media($screen-xxs){
    min-width: 160px !important;
  }
}

.select2-container--default .select2-selection--single {
  border: 1px solid #EEEEEE;
}

.select2-dropdown {
  border: 1px solid #EEEEEE!important;
}

.select2-selection__rendered {
  line-height: 37px !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-selection__arrow {
  height: 39px !important;
}

span.select2-selection.select2-selection--single {
  outline: none;
}