$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', serif;

/* COLORS */
$primary-blue: #22297A;
$primary-light-blue: #CAE4FF;
$primary-dark-blue: #0D1357;
$primary-purple: #C9CCEF;
$primary-red: #DA251C;
$primary-dark-red: #C32118;
$light-bg: #F5FAFF;
$text-gray: #7A7A7A;
$input-border-color: #C4C4C4;

$screen-lg: 1280px;
$screen-laptop: 1100px;
$screen-md: 1024px;
$screen-smd: 850px;
$screen-sm: 768px;
$screen-xs: 560px;
$screen-xxs: 480px;