.accordion {
  border: 1px solid #EEEEEE;

  &.show {
    .accordion__icon{
      &:after{
        content: '+';
        font-size: 25px;
      }
    }
  }

  &.hide {
    .accordion__content {
      display: none;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $light-bg;
    padding: 8px 20px;
    cursor: pointer;
  }

  &__content {
    padding: 20px;

    &-item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__icon {
    position: relative;
    color: $input-border-color;
    &:after {
      content: '–';
      font-size: 25px;
    }
  }
}