.any-question {
  position: relative;
  background: #00A4EB;
  color: #fff;
  overflow: hidden;
  padding: 25px 0 50px 40px;
  margin: 80px 0;
  z-index: 1;

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    img {
      margin-bottom: -10%;
      transform: translateX(13%);
    }
  }

  &__title {
    font-size: 52px;
    font-weight: 300;
  }

  &__call {
    font-size: 30px;
    font-weight: 300;
    margin-right: 25px;
    position: relative;
    &:after {
      content: url('../img/any-question-wave.svg');
      position: absolute;
      bottom: -25px;
      left: 0;
    }
  }

  &__phone {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 900;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__fill {
    margin-top: 30px;
    .link {
      text-decoration: underline;
      color: #fff
    }
  }

  @include media($screen-smd){
    &__text {
      flex-direction: column;
      align-items: flex-start;
    }
    &__phone {
      order: -1;
    }
    &__phone {
      font-size: 45px;
    }
    &__title {
      font-size: 45px;
    }
    &__img {
      right: -25%;
      bottom: 0;
      top: 0;
    }
  }

   @include media($screen-xs){
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-bottom: 20px;
    &__img {
      position: static;
    }
    
    &__phone {
      font-size: 28px;
    }
    &__title {
      font-size: 30px;
    }

   }
}