.cart {
  &__body {
    display: flex;
  }

  &-checkout {
    max-width: 620px;
    width: 100%;

    .d-flex {
      .d-flex {
        margin-top: 5px;
      }
    }
  }

  &__detail-box {
    background: #F5FAFF;
    padding: 20px 20px 50px;
  }

  &__detail {
    padding-top: 25px;
    &-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      margin-bottom: 30px;
    }

    &-count {
      font-size: 12px;
      margin-bottom: 6px;
      color: $primary-blue;
    }

    &-label {
      margin-right: 20px;
      font-size: 18px;
    }
    &-value {
      font-size: 24px;
    }
    &-btn {
      text-align: center;
    }
  }

  &-items {
    width: 100%;

    thead td {
      color: $input-border-color;
      font-size: 14px;
      padding-bottom: 8px;
    }

    tbody {
      td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    td {
      padding-right: 25px;
      border-bottom: 1px solid #F0F0F0;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__content {
    flex-grow: 1;
    padding-right: 20px;
  }

  &__detail {
    width: 300px;
    flex-shrink: 0;

    &-info {
      display: flex;
      font-size: 12px;
      margin-bottom: 25px;
      img {
        margin-right: 12px;
        width: 20px;
        flex-shrink: 0;
      }
    }
  }

  &-item {
    &__img {
      max-width: 155px;
      text-align: center;
      img {
        max-width: 155px;
      }
    }

    &__name {
      font-size: 14px;
      font-weight: bold;
    }

    &__price,
    &__total {
      white-space: nowrap;
      font-size: 18px;
      font-weight: bold;
    }

    &__delete {
      width: 25px;
      cursor: pointer;
    }
  }

  @include media($screen-laptop){
    &__body:not(.checkout__body){
      display: block;

      .cart__content {
        padding-right: 0;
      }

      .cart__detail {
        width: 100%;
      }
    }
    .cart-item {
      &__img img {
        width: 100px;
      }
      &__price,
      &__total {
        font-size: 14px;
      }
    }
  }

  @include media($screen-smd) {
    &-checkout {
      .d-flex {
        .col-50 {
          width: 100%;
        }
      }
    }
  }

  @include media(700px) {

    &__body.checkout__body {
      display: block;

      .cart__detail {
        width: 100%;
        &-info {
          justify-content: center;
        }
      }
    }
    &__content {
      padding-right: 0;
    }

    &-items {
      thead {
        display: none;
      }
    }
    &-item {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-left: 120px;
      border-top: 1px solid #F0F0F0;

      td {
        border: none;
      }

      &__img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
      }

      &__total {
        display: flex;
        align-items: center;
      }

      &__name {
        width: 100%;
        padding-bottom: 0!important;
      }

      &__delete {
        padding-top: 0!important;
        position: absolute;
        top: 20px;
        right: 0;
      }
      &__price {
        display: none;
      }
    }
  }

  @include media($screen-xxs) {
    &-checkout {
      .d-flex {
        flex-wrap: wrap;
      }
      .col-50 {
        width: 100%!important;
      }
    }
  }
}