.card {
  width: 100%;
  padding: 10px;
  &__inner {
    display: flex;
    flex-direction: column;
    border: 1px solid #F3F3F3;
    height: 100%;
    transition: .4s;

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &__content {
    padding: 28px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__img {
    position: relative;
    text-align: center;
    img {
      display: inline-block;
      max-height: 225px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__price {
    font-size: 24px;
    font-weight: bold;
  }

  &__desc {
    color: $text-gray;
    font-size: 12px;
    margin-bottom: 15px;
    flex-grow: 1;
  }

  &__oldprice {
    font-size: 12px;
    color: $primary-red;
    text-decoration: line-through;
  }

  &__buy {
    min-width: auto;
    margin-left: 20px;
  }

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $primary-red;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

    &--green{
      background:#27AE60;
    }
    &--blue{
      background:#00A4EB;
    }
  }
}