.catalog {
  &__title {
    margin: 40px 0;
  }
  &__body {
    display: flex;
  }
  &__head {
    display: flex;
    margin-bottom: 30px;
  }
  &__tag-list {
    flex-grow: 1;
    margin-bottom: -20px;
  }
  &__tag {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  &__sortby {
    display: flex;
    align-items: center;
    &-label {
      font-size: 12px;
      margin-right: 10px;
      white-space: nowrap;
    }
  }
  &__filter {
    width: 300px;
    flex-shrink: 0;
    margin-right: 20px;
    &-item {
      margin-bottom: 20px;
    }

    &-close {
      margin: 10px;
      display: none;
      justify-content: flex-end;
      .js-filter-close {
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-blue;

        img {
          width: 15px;
        }
      }
    }

    &-toggle{
      display: none;
      align-items: center;
      margin-right: 25px;
      img {
        margin-right: 10px;
      }
      span {
        flex-shrink: 0
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px 0;
    .card {
      width: calc(100% / 3);
    }
  }

  &__bottom {
    font-weight: 300;
    .accordion {
      margin-top: 20px;
      &__title {
        font-weight: 500;
        color: $primary-blue;
      }
    }
  }


  @include media($screen-lg) {
    &__filter {
      width: 240px;
    }
    .card__buy {
      font-size: 14px;
      padding: 0 20px;
    }
  }
  @include media($screen-laptop) {
    &__list {
      .card {
        width: 50%;
      }
    }
  }

  @include media($screen-smd) {
    &__head {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__tag-list {
      width: 100%;
      margin-bottom: 0;

      .btn {
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 4px 12px;
      }
    }
    &__filter {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow-y: auto;
      z-index: 999;

      &-toggle {
        display: flex;
        cursor: pointer;
      }

      &-close {
        display: flex;
        cursor: pointer;
      }
    }
  }

  @include media($screen-xs) {
    &__list {
      .card {
        width: 100%;
      }
    }

    &__sortby {
      &-label {
        display: none;
      }
    }

    &__filter {
      padding-bottom: 25px;

      .btn {
        margin-left: 20px;
      }
    }
  }
}

.show-filter {
  .catalog__filter {
    width: 100%;
    display: block;
    background: #fff;
  }
}