.contacts {
  &__map {
    position: relative;
    padding: 70px 0;
    min-height: 600px;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__detail {
    background: #fff;
    max-width: 300px;
    width: 100%;
    padding: 40px 20px;
    font-size: 16px;
    position: relative;
    z-index: 2;

    &-item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-label {
      color: $primary-blue;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }

  &__road {
    margin: 60px 0;
    &-title {
      margin-bottom: 40px;
    }
    &-item {
      display: flex;
      margin-bottom: 25px;
      max-width: 490px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-icon {
      margin-right: 20px;
      flex-shrink: 0;
    }
    &-metro {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px;
    }
  }
}

.feedback {
  .h2 {
    margin-top: 0;
  }
  &__form {
    padding: 45px 30px 60px;
    background: $light-bg;
    .col-50 {
      padding: 0 10px;
    }
    .d-flex {
      margin: 0 -10px 25px;
    }
  }
  &__submit {
    margin-top: 30px;
  }
}

.requisites {
  &__item {
    margin-bottom: 25px;
    max-width: 435px;
  }
  &__item-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  ul {
    font-weight: 300;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
}

@include media($screen-sm) {
  .contacts {
    .d-flex {
      display: block;
    }
    .col-50 {
      width: 100%;
    }
  }
}

@include media($screen-xxs) {
  .contacts {
    &__map {
      padding: 0;
    }
    &__road {
      margin: 0;
    }
    #map {
      position: static;
      height: 350px;
      margin-left: -15px;
      margin-right: -15px;
    }
    &-detail {
      width: 100%;
    }
  }

  .feedback {
    &__form {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}