.counter {
  display: flex;
  align-items: center;
  border: 1px solid #EFEFEF;
  width: 100px;
  flex-shrink: 0;
  color: #929292;
  padding: 0 10px;

  &__input {
    border: none;
    text-align: center;
    margin: 0 5px;
    padding: 0;
  }

  &__minus,
  &__plus {
    font-size: 30px;
    // font-weight: bold;
    cursor: pointer;
  }
}