.filter-range {
  & + div {
    margin-top: 20px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__value {
    input {
      text-align: center;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
    &.from {
      margin-right: 40px;
    }
  }

  .irs--flat .irs-bar {
    background: #00A4EB;
  }
  .irs--flat {
    .irs-line,
    .irs-bar {
      height: 5px !important;
    }
  }
  .irs-handle {
    top: 20px!important;
    i {
      display: none!important;
    }
    &:after {
      content: url('../img/range-left-icon.png');
      margin-top: -2px;
    }
  }
}