.footer {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__flex {
    display: flex;
    margin: 0 -15px;
  }

  &__col {
    padding: 0 15px;
  }

  &__main {
    background: $light-bg;
    padding: 45px 0;

    .footer__col {
      width: calc(100% / 3);
    }
  }

  &__bottom {
    background: $primary-light-blue;
    padding: 15px 0 20px;
    font-size: 12px;
    font-weight: 300;

    .footer__flex {
      justify-content: space-between;
    }

  }

  &__catalog {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    li {
      margin-bottom: 45px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__menu {
    font-size: 16px;
    li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__info {
    font-size: 14px;
    &-item {
      display: flex;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-icon {
      width: 20px;
      margin-right: 20px;
      flex-shrink: 0;
      text-align: center;
    }
  }

  &__agency {
    img {
      margin-left: 10px;
    }
  }

  @include media(650px){
    font-weight: bold!important;
    &__flex {
      display: block;
    }
    &__main {
      padding-top: 20px;
      .footer__col {
        width: 100% !important;
        border-top: 1px solid #CAE4FF;
        padding-top: 25px;
        padding-bottom: 25px;

        &:first-child {
          border: none;
        }
      }

    }
    &__col {
      width: 100% !important;
    }
    &__bottom {
      br {
        display: none;
      }
      .footer__col {
        padding-top: 7px;
        padding-bottom: 7px;
        font-weight: bold;
      }
    }
    &__catalog li {
      margin-bottom: 18px;
    }
  }
}