.header {  
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0;
  }

  &__logo {
    margin-right: 120px;
  }

  &__main {
    display: flex;
    align-items: center;
  }

  .search {
    flex-grow: 1;
    margin-right: 35px;
  }

  &__menu {
    font-size: 13px;
    &-link {
      margin-right: 30px;
    }
  }

  &__phone {
    font-size: 18px;
    font-weight: 500;
  }

  &__wholesalers {
    display: flex;
    align-items: center;
    margin-right: 25px;
    flex-shrink: 0;
    img {
      margin-right: 7px;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &-icon {
      width: 65px;
    }
    &-value {
      position: relative;
      flex-shrink: 0;
    }
    &-count {
      position: absolute;
      top: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }

    &-label {
      position: relative;

      &:after,
      &:before {
        content: url('../img/cart-wave.svg');
        position: absolute;
        left: 0;
      }

      &:before {
        top: -24px;
      }
      &:after {
        bottom: -17px;
      }
    }
  }
  @include media($screen-laptop) {
    &__logo {
      margin-right: 40px;
    }
  }
  @include media($screen-smd) {
    display: none;
  }
}

.header-mob {
  position: relative;
  display: none;
  background: $primary-blue;
  color: #fff;  

  &__inner {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
  }

  &__burger {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-red;
    padding: 0 15px;
    height: 100%;
    margin-right: 15px;
    cursor: pointer;
    &-close {
      display: none;
    }
  }

  &__search {
    margin-left: 25px;
    margin-right: 18px;

    &-toggle {
      cursor: pointer;
    }

    &-input {
      position: absolute;
      right: 0;
      max-width: 300px;
      top: 100%;
      // display: none;
    }
  }

  &__phone {
    color: #fff!important;
    margin-right: 25px;
  }

  &__catalog {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #1C236E;

    .header-mob__phone {
      display: none;
    }

    &-search {
      padding: 24px;
      display: flex;
      align-items: center;
      
      .search {
        flex-grow: 1;
        margin-right: 25px;
      }

      .header__wholesalers {
        margin-right: 0;
        color:#fff;
      }
    }

    .catalog-list {
      position: static;
      opacity: 1;
      visibility: visible;
      border: none;
      margin-top: 0;
      background: #1C236E;
      padding-top: 0;

      &__content ul {
        flex-grow: 1;
      }

      &__icon {
        display: none;
        position: absolute;
        right: 20px;
        top: 25px;
        opacity: .15;
        width: 80px;
      }

      &__inner {
        flex-wrap: wrap;
      }

      &__item {
        position: relative;
        width: 50%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 100px;
        border-bottom: 1px solid #161C5C;
        &:nth-child(3) {
          width: 100%;
        }
      }
    }
  }

  @include media($screen-smd) {
    display: block;
    &-mob {
      display: block;
    }

    &__col {
      display: flex;
      align-items: center;
    }

    &__cart {
      display: flex;
      align-items: center;
      &-icon {
        margin-right: 5px;
      }
      &-value {
        border-radius: 12px;
        font-size: 14px;
        font-weight: 500;
        color: $primary-blue;
        background: #fff;
        width: 42px;
        text-align: center;
      }
    }
  }

  @include media($screen-xxs) {
    .wrapper {
      padding-left: 0;
    }

    &__inner {
      .header-mob__phone {
        display: none;
      }
    }

    &__catalog {
      &-search {
        display: flex;
        flex-wrap: wrap;
      }
      .header-mob__phone {
        display: block;
        width: 50%;
        margin-right: 0;
        text-align: right;
        font-weight: 500;
      }
      .search {
        margin-right: 0;
        margin: 20px 0 0;
      }
      .header__wholesalers {
        width: 50%;
        order: -1;
      }
      .catalog-list__item {
        width: 100%;
        .catalog-list__icon {
          display: block;
        }
      }
      .catalog-list__content {
        display: block;
      }
    }
  }
}

.show-mobile-catalog {
  .header-mob__burger {
    &-open {
      display: none;
    }
    &-close {
      display: block;
    }
  }
  .header-mob__catalog {
    display: block;
  }
}