.promo {
  .slick-dots {
    transform: translateY(-70px)
  }

  .slick-slide {
    justify-content: center;
  }

  @include media($screen-md){
    &-slider__item img{
      height: 350px;
      width: auto!important;
      object-fit: cover;
    }
  }

  @include media(650px){
    &-slider__item img{
      height: 250px;
    }
    .promo .slick-dots {
      transform: none;
      margin-top: 12px;
    }
  }
}

.promo-about {
  padding: 50px 0;

  &__img {
    text-align: center;
  }

  @include media($screen-smd) {
    .d-flex {
      display: block;
      .col-50 {
        width: 100%;
      }
    }
  }
}

.advantages {
  margin-bottom: 60px;
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    margin: 0 -15px;
  }
  &__item {
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    &:after {
      content: url('../img/wave.svg');
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__icon {
    margin-bottom: 20px;
  }

  @include media($screen-sm) {
    &__list {
      margin-bottom: -30px;
    }
    &__item {
      margin-bottom: 30px;
    }
    .col-25 {
      width: 50%;
    }
  }

  @include media($screen-xxs) {
    &__item {
      font-size: 14px;
    }
  }
}

.main-news {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  @include media($screen-sm){
    &__list {
      .news-item {
        width: 50%;
      }
    }
  }

  @include media($screen-xxs) {
    &__list {
      .news-item {
        width: 100%;
        margin-bottom: 35px;

        &__img img {
          width: 100%;
        }
      }
    }
  }

}

.news-item {
  width: 25%;
  padding: 0 10px;

  &__img {
    margin-bottom: 24px;
    display: block;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__date {
    font-size: 12px;
    color: #828291;
    margin-top: 15px;
  }
}

.products {
  &-slider {
    .products-item {
      height: 100%;
      .card {
        height: 100%;
      }
    }
  }
}


.about {
  &__content {
    max-width: 940px;
    font-weight: 300;
  }
  &__title {
    margin: 30px 0;
  }
}