.main-nav {
  background: $primary-blue;
  color: #fff;
  margin-top: 14px;
  position: relative;

  &__inner {
    display: flex;
  }

  &__icon {
    margin-right: 20px;
  }

  &__name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;

    &:after {
      content: url('../img/arrow-bottom.svg');
      position: absolute;
      right: 10px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px 25px;
    border-right: 1px solid #081069;
    cursor: pointer;
    transition: .3s;

    &:hover {
      .main-nav__sublist {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }

      .main-nav__name:after {
        transform: rotate(180deg);
      }
    }

    &--catalog {
      position: static;
      justify-content: center;
      background: $primary-red;
      border: none;
      .main-nav__name {
        font-size: 16px;
        font-weight: bold;
        &:after {
          display: none;
        }
      }
    }
  }

  &__sublist {
    color: #fff;
    position: absolute;
    background: $primary-dark-blue;
    margin-top: -25px;
    top: 100%;
    left: 0;
    right: 0;
    padding: 35px 20px;
    font-size: 14px;
    font-weight: 300;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin-bottom: 20px;
    }
    .link {
      color: $light-bg;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }  

  @include media($screen-laptop) {
    & > .wrapper {
      padding: 0;
    }
    &__name {
      font-size: 12px;
    }

    &__item {
      padding: 10px;
      &--catalog .main-nav__name {
        font-size: 13px;
      }
    }

    &__icon {
      margin-right: 10px;
    }
  }
}

.catalog-list {
  @extend .main-nav__sublist;
  border-top: 5px solid $primary-red;

  &__inner {
    display: flex;
    margin: 0 -20px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__item {
    flex-grow: 1;
    padding: 0 20px;
  }

  &__content {
    display: flex;

    ul {
      margin-right: 80px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media($screen-laptop) {
    .catalog-list__content ul {
      margin-right: 25px;
    }
  }
}