.news {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    .news-item {
      margin-bottom: 60px;
    }
  }
  .pagination {
    margin-top: 0;
  }

  @include media($screen-smd){
    &__list {
      .news-item {
        width: calc(100% / 3);
      }
    }
  }
  @include media(650px){
    &__list {
      .news-item {
        width: 50%;
      }
    }
  }
  @include media($screen-xxs) {
    &__list {
      .news-item {
        width: 100%;
        margin-bottom: 35px;
        &__img img{
          width: 100%;
        }
      }
    }
  }
}

.news-single {
  .main-news {
    margin-top: 60px;
  }
  &__body {
    display: flex;
  }
  &__content {
    flex-grow: 1;
    margin-right: 20px;
    font-weight: 300;
  }
  &__banner {
    flex-shrink: 0;
    width: 300px;
  }
  &__date {
    color: #4F4F4F;
    margin-top: 15px;
  }
  &__img {
    margin-bottom: 30px;
  }

  @include media($screen-smd) {
    &__banner {
      display: none;
    }
    &__content {
      margin-right: 0;
    }
    .main-news {
      margin-top: 40px;
    }
  }
}