.product-detail {
  &__title {
    margin-bottom: 40px;
  }
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__action {
    display: flex;
    .counter {
      margin-right: 20px;
    }
  }
  &__price {
    font-size: 30px;
    font-weight: bold;
  }
  &__cost {
    margin-right: 25px;
  }
  &__oldprice {
    color: $primary-red;
    text-decoration: line-through;
  }
  &__color {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__label {
    width: 65px;
    height: 65px;
    font-size: 24px;
    font-weight: bold;
  }
    
  &__table-main {
    font-size: 12px;
    color: #4F4F4F;
    table {
      margin-bottom: 25px;
    }
    td {
      padding-right: 20px;
      padding-bottom: 10px;
    }
  }
  table {
    width: 100%;
  }
  td {
    width: 50%;
  }

  &__tab {
    width: 100%;
    margin-top: 40px;
    .tab-nav {
      background: $light-bg;
    }
    .tab-block {
      margin-bottom: 50px;
      td {
        padding-right: 20px;
        padding-bottom: 12px;
        &:first-child {
          font-weight: 500;
        }
      }
    }
    &-item {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px;
      margin-right: 35px;
      transition: .3s;
      cursor: pointer;
      &:hover,
      &.active {
        background: $primary-blue;
        color: #fff;
      }
    }
  }

  &__slider {
    position: relative;
    .slick-slide {
      & > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-item {
      width: 100%;
      text-align: center;
    }
    .js-product-detail-main-slider {
      max-width: 100%;
      img {
        max-height: 420px;
        display: inline-block!important;
      }
    }
    .js-product-detail-thumb-slider {
      padding-left: 25px;
      padding-right: 25px;
      margin-top: 20px;

      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
      }
      .slick-prev{
        left: 0;
      }
      .slick-next{
        right: 0;
      }
    }
  }

  @include media(990px){
    &__main {
      display: block;
    }
    &__slider, 
    &__content {
      width: 100%!important;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__color {
      justify-content: center;
      order: -1;
    }
    &__cost {
      text-align: center;
      margin-right: 0;
    }
  }

  @include media($screen-sm) {

    &__tab-item {
      margin-right: 0;
      font-size: 13px;
    }

  }

  @include media(600px){
    &__title {
      margin-bottom: 20px;
    }

    &__top {
      display: block;
    }
    &__action {
      margin-top: 15px;
      justify-content: center;
    }
    &__table-main {
      display: none;
    }
    &__tab {
      margin-top: 0;
    }
    &__tab-item {
      font-size: 12px;
      padding: 10px 7px;
    }
  }

  @include media(480px) {
    table {
      font-size: 13px;

      tr,
      td {
        display: block;
        width: 100%;
      }
      td {
        padding-bottom: 3px!important;
      }
      tr {
        margin-bottom: 10px;
      }
    }
  }

}

.product__color {
  &-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
}