.products-list {
  margin-bottom: 60px;
  &__items {
    display: flex;
    margin: 0 -10px;
    overflow-x: auto; 

    &::-webkit-scrollbar {
      height: 4px;
      background: #ccc;
    }
    &::-webkit-scrollbar-thumb {
      background: #22297A;
    }
  }
  &__item {
    width: 25%;
    min-width: 300px;
    .card {
      height: 100%;
    }
  }
}

.products-slider {
  .slick-slide {
    & > div {
      width: 100%;
    }

    @include media($screen-xxs){
      .card {
        padding: 0;
      }
    }
  }
}