.search {
  position: relative;
  display: flex;

  &__input {
    padding: 0 40px;
    background: url('../img/search.svg') 10px center no-repeat, #fff;
    border-color: #C4C4C4;
  }

  &__submit {
    background: $primary-purple;
    min-width: auto;
    color: $primary-blue;
    border-radius: 6px;
    font-size: 12px;
    padding: 0 35px;
    margin-left: -8px;
    height: auto;
  }
}

.search-page {
  padding: 40px 0;

  &__form {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 620px;
  }
}