extends includes/layout.pug

block title
  title О нас

block content
  .about
    .wrapper
      .about__title.h1 О компании
      .about__content
        p Основное направление деятельности компании «Два весла» — розничная продажа подвесных лодочных моторов и надувных лодок ПВХ.
        p «Два весла» является официальным дилером моторов Mercury и Tohatsu. Наряду с подвесными  моторами Mercury и Tohatsu, «Два весла» предлагает широкий модельный ряд лодочных моторов Suzuki и Nissan.
        p Надувные лодки в каталоге компании представлены продукцией ведущих зарубежных и отечественных производителей: Quicksilver, Northsilver, «Фрегат», Flinc, «Наши Лодки», Yukona.
        p Любителям туризма стоит обратить внимание на комфортные палатки Campus и Canadian Camper, широкий ассортимент которых представлен нашей компанией.
        p В декабре 2007 года руководством компании было принято решение об открытии интернет-магазина «Два весла». Теперь наши клиенты могут приобрести все необходимые товары в онлайн-режиме из дома или офиса, тем самым сэкономив свое время и деньги. Ассортимент интернет-магазина «Два весла» ориентирован, в первую очередь, на  людей, увлекающихся рыбной ловлей,  а также на всех любителей активного отдыха на воде.
        p Наши Клиенты отдыхают с комфортом, потому что мы работаем с удовольствием!
      
    include includes/any-question.pug