extends includes/layout.pug

block title
  title Корзина

block content
  .cart
    .wrapper
      .cart__title.h1 Корзина
      .cart__body
        .cart__content
          table.cart-items
            thead
              td Товар
              td
              td Цена
              td Количество
              td Сумма
              td
            tbody
              tr.cart-item
                td.cart-item__img: img(src=require('../img/product-item-detail-img.jpg'))
                td.cart-item__name: a(href="#!").link.link--blue Marlin 320SLK
                td.cart-item__price 1 100 000 руб.
                td.cart-item__counter
                  include includes/counter.pug
                td.cart-item__total 1 100 000 руб.
                td.cart-item__delete: img(src=require('../img/cart-item-delete.svg'))
              tr.cart-item
                td.cart-item__img: img(src=require('../img/product-item-detail-img.jpg'))
                td.cart-item__name: a(href="#!").link.link--blue Marlin 320SLK
                td.cart-item__price 1 100 000 руб.
                td.cart-item__counter
                  include includes/counter.pug
                td.cart-item__total 1 100 000 руб.
                td.cart-item__delete: img(src=require('../img/cart-item-delete.svg'))

        .cart__detail
          .cart__detail-box
            .cart__detail-count 2 товара
            .cart__detail-total
              .cart__detail-label Сумма:
              .cart__detail-value 1 122 000 руб.
            .cart__detail-btn
              a.btn(href="#!") Оформить заказ
      
    include includes/any-question.pug