extends includes/layout.pug

include includes/card.pug
include includes/checkbox.pug

block title
  title Каталог

block content
  .catalog
    .wrapper
      .catalog__title.h1 Надувные лодки ПВХ
      .catalog__body
        .catalog__filter
          .catalog__filter-close
            .js-filter-close: img(src=require('../img/close.svg'), alt="")
          .catalog__filter-item
            .js-accordion.accordion
              .accordion__top
                .accordion__title Цена
                .accordion__icon
              .accordion__content
                include includes/range-slider.pug

          .catalog__filter-item
            .js-accordion.accordion
              .accordion__top
                .accordion__title Тактность двигателя
                .accordion__icon
              .accordion__content
                .accordion__content-item
                  +checkbox('Два такта', '67')
                .accordion__content-item
                  +checkbox('Четыре такта', '40')

          .catalog__filter-item
            .js-accordion.accordion
              .accordion__top
                .accordion__title Мощность
                .accordion__icon
              .accordion__content
                include includes/range-slider.pug
                .accordion__content-item
                  +checkbox('2.5 л.с.', '67')
                .accordion__content-item
                  +checkbox('3.6 л.с.', '40')
                .accordion__content-item
                  +checkbox('5 л.с.', '40')
                .accordion__content-item
                  +checkbox('6 л.с.', '40')
                .accordion__content-item
                  +checkbox('30 л.с.', '40')

          .catalog__filter-item
            .js-accordion.accordion
              .accordion__top
                .accordion__title Управление
                .accordion__icon
              .accordion__content
                .accordion__content-item
                  +checkbox('Румпель', '67')
                .accordion__content-item
                  +checkbox('Дистанционное', '40')

          .catalog__filter-item
            .js-accordion.accordion
              .accordion__top
                .accordion__title Тип мотора
                .accordion__icon
              .accordion__content
                .accordion__content-item
                  +checkbox('Электрический', '67')
                .accordion__content-item
                  +checkbox('Водометный', '40')

          .catalog__filter-item
            .js-accordion.accordion
              .accordion__top
                .accordion__title Серия
                .accordion__icon
              .accordion__content
                .accordion__content-item
                  +checkbox('Optimax', '67')
                .accordion__content-item
                  +checkbox('Verado', '40')
                .accordion__content-item
                  +checkbox('SeaPro', '40')

          a.btn.btn--red.catalog__filter-reset Сбросить фильтр

        .catalog__main
          .catalog__head
            .catalog__tag-list
              a.btn.btn--blue.catalog__tag(href="#!") Два такта
              a.btn.btn--blue.catalog__tag(href="#!") Четыре такта
              a.btn.btn--blue.catalog__tag(href="#!") Электрические
            .js-catalog__filter-toggle.catalog__filter-toggle
              img(src=require('../img/filter-icon.svg'), alt="")
              span Фильтр
            .catalog__sortby
              .catalog__sortby-label Сортировать:
              select.js-select
                option По возрастанию цены
                option По убыванию цены
                option По новизне
          .catalog__content
            .catalog__list
              +card('Marlin 320SLK', require('../img/products/product-1.jpg'), '1 100 000', '', true, true)
              +card('Nissan Marine NM 9.8 BS', require('../img/products/product-2.jpg'), '1 100 000', 'Nissan Marine - это надежность и мощь! Представляем вам лодочный мотор Nissan Marine 9.8, мощностью 9,8 л.с.')
              +card('Посейдон Касатка-365', require('../img/products/product-3.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку', true, 'new')
              +card('Подвесной лодочный мотор Mercury ME F 200 L Verado', require('../img/products/product-4.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку')
              +card('Marlin 320SLK', require('../img/products/product-1.jpg'), '1 100 000', '', true, 'new')
              +card('Nissan Marine NM 9.8 BS', require('../img/products/product-2.jpg'), '1 100 000', 'Nissan Marine - это надежность и мощь! Представляем вам лодочный мотор Nissan Marine 9.8, мощностью 9,8 л.с.')
              +card('Посейдон Касатка-365', require('../img/products/product-3.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку', true, 'new')
              +card('Подвесной лодочный мотор Mercury ME F 200 L Verado', require('../img/products/product-4.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку')
              +card('Marlin 320SLK', require('../img/products/product-1.jpg'), '1 100 000', '', true, 'hit')
              +card('Nissan Marine NM 9.8 BS', require('../img/products/product-2.jpg'), '1 100 000', 'Nissan Marine - это надежность и мощь! Представляем вам лодочный мотор Nissan Marine 9.8, мощностью 9,8 л.с.')
              +card('Посейдон Касатка-365', require('../img/products/product-3.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку', true)
              +card('Подвесной лодочный мотор Mercury ME F 200 L Verado', require('../img/products/product-4.jpg'), '1 100 000', 'Подготовив модельный ряд, который удовлетворил все возможные потребности покупателей, конструкторы компании ПОСЕЙДОН решили изготовить лодку')
            
            include includes/pagination.pug
            .catalog__bottom
              .h2 Лодочные моторы в магазине Два весла
              .catalog__bottom-text Многие рыболовы предпочитают заниматься любимым делом с таким помощником, как надувная лодка. Для активного поиска хищника или перемещения к малолюдным местам не обойтись без подвесного мотора. Интернет магазин «Два весла» предлагает широкий ассортимент лодочных моторов. При покупке на сумму 15000 рублей для жителей Москвы доставка товара осуществляется бесплатно.
              
              .js-accordion.accordion.hide
                .accordion__top
                  .accordion__title История бренда
                  .accordion__icon
                .accordion__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, at rem voluptas odit sint ut incidunt laudantium qui numquam necessitatibus dolorem cum nemo corporis recusandae optio illo ipsa dolores reiciendis. Corrupti, sapiente minima maxime voluptas consequuntur qui, expedita dicta, quis fugiat cupiditate veritatis excepturi non assumenda facere dignissimos et inventore.
              .js-accordion.accordion.hide
                .accordion__top
                  .accordion__title Сервис и гарантия
                  .accordion__icon
                .accordion__content Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, at rem voluptas odit sint ut incidunt laudantium qui numquam necessitatibus dolorem cum nemo corporis recusandae optio illo ipsa dolores reiciendis. Corrupti, sapiente minima maxime voluptas consequuntur qui, expedita dicta, quis fugiat cupiditate veritatis excepturi non assumenda facere dignissimos et inventore.

              ul.list-with-icon
                li В первую очередь привлекает доступная цена.
                li Лодки из ПВХ отличаются высокой степенью безопасности.
                li Делаются и под мотор, и под весла.
                li Для рыболовов такие модели предпочтительнее тем, что не пугают рыбу. Например, охотиться за сомом на металлических или деревянных суднах бесперспективно.
                li Для транспортировки лодки из ПВХ не обязательно покупать лафет, в сложенном состоянии она помещается в багажнике автомобиля. Не возникает особых трудностей и с хранением такого судна.

      include includes/any-question.pug