extends includes/layout.pug

block title
  title Корзина

block content
  .cart
    .wrapper
      include includes/breadcrumb.pug
      .cart__title.h1 Оформление заказа
      .cart__body.checkout__body
        .cart__content
          .cart-checkout
            .d-flex
              .col-50
                .field
                  .field__label ФИО*
                  input(type="text").field__input
              .col-50
                .field
                  .field__label Ваш E-mail*
                  input(type="text").field__input
            .d-flex
              .col-50
                .h3 Адрес доставки
                .field
                  .field__label Город*
                  input(type="text").field__input

            .d-flex
              .col-50
                .field
                  .field__label Улица*
                  input(type="text").field__input
                .d-flex
                  .col-50
                    .field
                      .field__label Дом*
                      input(type="text").field__input
                  .col-50
                    .field
                      .field__label Офис/квартира*
                      input(type="text").field__input
            .field
              .field__label Комментарий
              textarea.field__input


        .cart__detail
          .cart__detail-box
            .cart__detail-count 2 товара
            .cart__detail-total
              .cart__detail-label Сумма:
              .cart__detail-value 1 122 000 руб.
            .cart__detail-info
              img(src=require('../img/wallet.svg'), alt="")
              span Оплата осуществляется наличными при получении
            .cart__detail-btn
              a.btn(href="#!") Оформить заказ
      
    include includes/any-question.pug