extends includes/layout.pug
include includes/news-item.pug

block title
  title Контакты

block content
  .contacts
    .wrapper
      .contacts__title.h1 Контакты
    .contacts__map
      .wrapper
        #map(data-geo-lat="55.658297" data-geo-lng="37.840876")
        .contacts__detail
          .contacts__detail-item
            .contacts__detail-label Адрес:
            .contacts__detail-text г.Москва, 14-км МКАД, Птичий рынок, вход №10, пав-н 6-12, магазин "Два Весла".
          .contacts__detail-item
            .contacts__detail-label Телефон:
            .contacts__detail-text +7 (495) 772-678-1 <br/> +7 (925) 772-678-1
          .contacts__detail-item
            .contacts__detail-label E-mail:
            .contacts__detail-text: a.link(href="mailto:shop@2vesla.ru") shop@2vesla.ru
          .contacts__detail-item
            .contacts__detail-label Режим работы:
            .contacts__detail-text с 9-00 до 18-00 без выходных
    .wrapper
      .contacts__road
        .contacts__road-title.h2 Как к нам добраться
        .d-flex
          .col-50
            .contacts__road-list
              .contacts__road-item
                .contacts__road-icon: img(src=require('../img/metro-purple.svg'), alt="")
                .contacts__road-content
                  .contacts__road-metro Выхино
                  .contacts__road-desc График движения
              .contacts__road-item
                .contacts__road-icon: img(src=require('../img/metro-purple.svg'), alt="")
                .contacts__road-content
                  .contacts__road-metro Кузьминки
                  .contacts__road-desc автобус № 79 до остановки «Белая Дача»
              .contacts__road-item
                .contacts__road-icon: img(src=require('../img/metro-green.svg'), alt="")
                .contacts__road-content
                  .contacts__road-metro Люблино
                  .contacts__road-desc автобус № 54, маршрутное такси № 333 до остановки рынок «Садовод»
              .contacts__road-item
                .contacts__road-icon: img(src=require('../img/metro-green.svg'), alt="")
                .contacts__road-content
                  .contacts__road-metro Братиславская
                  .contacts__road-desc автобус № 10 до остановки «Белая дача» маршрутное такси № 10Б до рынка «Садовод»
            
          .col-50
            .contacts__road-map: img(src=require('../img/map-with-route.jpg'), alt="")

      .d-flex
        .col-50
          .requisites
            .h2 Реквизиты
            .requisites__item
              .requisites__item-title ИП Волков Владислав Николаевич
              ul
                li ИНН 504108415523
                li Свидетельство о государственной регистрации физического лица в качестве ИП. ИФНС №46 по г.Москве
                li ОГРНИП 318774600641870

            .requisites__item
              .requisites__item-title Банковские реквизиты:
              ul
                li р/с 40802810538000117605
                li Сбербанк Росии ОАО г. Москва
                li БИК 044525225
                li к/с 30101810400000000225
                li ОКПО 0140548270
        .col-50
          .feedback
            .h2 Обратная связь
            .feedback__form
              .d-flex
                .col-50
                  .field
                    .field__label Ваше имя*
                    input(type="text").field__input
                .col-50
                  .field
                    .field__label Ваш E-mail*
                    input(type="text").field__input
              .field
                .field__label Сообщение*
                textarea.field__input(rows="10")
              button.btn.feedback__submit Отправить

      
    include includes/any-question.pug