extends includes/layout.pug
include includes/news-item.pug

block title
  title Главная страница

block content
  .promo
    .js-promo-slider.promo-slider
      .promo-slider__item
        img(src=require('../img/promo-slider.jpg'), alt="")
      .promo-slider__item
        img(src=require('../img/promo-slider.jpg'), alt="")
      .promo-slider__item
        img(src=require('../img/promo-slider.jpg'), alt="")
  
  include includes/products-slider

  .promo-about
    .wrapper
      .d-flex
        .promo-about__content.col-50
          .h2.promo-about__title Лодки ПВХ, моторы и аксессуары
          .promo-about__text.text-thin 
            p «Два весла» — интернет-магазин с большим ассортиментом высококачественной продукции известных производителей подвесных двигателей, надувных лодок и катеров. 
            p Мы предлагаем как недорогие лодки из ПВХ для рыбаков и охотников, так и эксклюзивные модели для настоящих ценителей. Наши цены столь привлекательны, потому что мы напрямую сотрудничаем с производителями. Таким образом, покупая нашу продукцию, Вы получаете неизменно высокое качество без лишних наценок! 
            p Наш интернет-магазин является официальным дилером отечественных и зарубежных производителей подвесных моторов и лодок: Mercury, Tohatsu, HDX, Nissan Marine, «Мнев», «Посейдон», «АКВА», Solar, Gladiator, «Ривьера», «Фрегат», «Наши лодки» и Quicksilver, а также многих других. Приобретая любой товар в нашем магазине Вы можете быть уверены в его надежности! 
            p Интернет-магазин «Два весла» осуществляет доставку по Москве и во все регионы России.
        .promo-about__img.col-50
          img(src=require('../img/promo-about.png'), alt="")

  .advantages
    .wrapper
      .advantages__title.h2 Преимущества нашей компании
      .d-flex.d-flex--wrap.advantages__list
        .col-25.advantages__item
          .advantages__icon: img(src=require('../img/adv-icon-1.svg'), alt="")
          .advantages__name Более 12 лет на рынке
        .col-25.advantages__item
          .advantages__icon: img(src=require('../img/adv-icon-2.svg'), alt="")
          .advantages__name Официальный дилер моторов Mercury и Tohatsu
        .col-25.advantages__item
          .advantages__icon: img(src=require('../img/adv-icon-3.svg'), alt="")
          .advantages__name Большой ассортимент товаров
        .col-25.advantages__item
          .advantages__icon: img(src=require('../img/adv-icon-4.svg'), alt="")
          .advantages__name Доступная цена

  .main-news
    .wrapper
      .main-news__title.h2 Новости
      .main-news__list
        +news-item(require('../img/news-1.jpg'), 'Дарим защитный чехол при покупке любого лодочного мотора HDX', 'Если Вы приобретете один из подвесных лодочных моторов HDX до 31 января, в качестве подарка Вы получите удобный чехол для...')
        +news-item(require('../img/news-2.jpg'), 'Акция «Сезон ближе - цены ниже!»', 'Cамые популярные лодочные моторы Mercury по выгодной цене. Только до 31 марта 2019 года')
        +news-item(require('../img/news-3.jpg'), 'Спешите за подарками от «Посейдона»!', 'Компания «Посейдон» подготовила для покупателей фирменных лодок приятные скидки и отличные подарки.')
        +news-item(require('../img/news-4.jpg'), 'Акция «Я выбираю Mercury»', 'Хотите приобрести мотор Mercury по специальной цене? Участвуйте в акции «Я выбираю Mercury»!')
      .main-news__btn
        a.link(href="#!").btn Все новости

  include includes/any-question.pug