<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
    title 2Vesla
    style.
      body {
        font-family: 'Roboto';
      }
      .wrapper{
        max-width: 1400px;
        margin: 80px auto;
      }
      li {
        margin-bottom: 10px;
      }
      a {
        color: #22297A;
      }
    
  body
    .wrapper
      h1 Страницы проекта "2 Vesla"
      ol
        li: a(target="_blank" href="/home.html") Главная
        li: a(target="_blank" href="/catalog.html") Каталог
        li: a(target="_blank" href="/product-item.html") Стр товара
        li: a(target="_blank" href="/contacts.html") Контакты
        li: a(target="_blank" href="/about.html") О нас
        li: a(target="_blank" href="/news.html") Новости
        li: a(target="_blank" href="/news-item.html") Стр новости
        li: a(target="_blank" href="/cart.html") Корзина
        li: a(target="_blank" href="/checkout.html") Оформление заказа
        li: a(target="_blank" href="/search.html") Страница поиска