extends includes/layout.pug
include includes/news-item.pug

block title
  title Страница новости

block content
  .news-single
    .wrapper
      include includes/breadcrumb.pug
      .news-single__title.h1 Даже цены отдыхают летом!
      .news-single__body
        .news-single__content
          .news-single__img
            img(src=require("../img/news-single-img.jpg"))
          .news-single__text
            p «Два весла» — интернет-магазин с большим ассортиментом высококачественной продукции известных производителей подвесных двигателей, надувных лодок и катеров.
            p Мы предлагаем как недорогие лодки из ПВХ для рыбаков и охотников, так и эксклюзивные модели для настоящих ценителей. Наши цены столь привлекательны, потому что мы напрямую сотрудничаем с производителями. Таким образом, покупая нашу продукцию, Вы получаете неизменно высокое качество без лишних наценок!
            p Наш интернет-магазин является официальным дилером отечественных и зарубежных производителей подвесных моторов и лодок: Mercury, Tohatsu, HDX, Nissan Marine, «Мнев», «Посейдон», «АКВА», Solar, Gladiator, «Ривьера», «Фрегат», «Наши лодки» и Quicksilver, а также многих других. Приобретая любой товар в нашем магазине Вы можете быть уверены в его надежности!
            p Интернет-магазин «Два весла» осуществляет доставку по Москве и во все регионы России.
          .news-single__date 22.04.2019
        .news-single__banner
          img(src=require("../img/news-single-banner.jpg"))

    .main-news
      .wrapper
        .main-news__title.h2 Другие новости
        .main-news__list
          +news-item(require('../img/news-1.jpg'), 'Дарим защитный чехол при покупке любого лодочного мотора HDX', 'Если Вы приобретете один из подвесных лодочных моторов HDX до 31 января, в качестве подарка Вы получите удобный чехол для...')
          +news-item(require('../img/news-2.jpg'), 'Акция «Сезон ближе - цены ниже!»', 'Cамые популярные лодочные моторы Mercury по выгодной цене. Только до 31 марта 2019 года')
          +news-item(require('../img/news-3.jpg'), 'Спешите за подарками от «Посейдона»!', 'Компания «Посейдон» подготовила для покупателей фирменных лодок приятные скидки и отличные подарки.')
          +news-item(require('../img/news-4.jpg'), 'Акция «Я выбираю Mercury»', 'Хотите приобрести мотор Mercury по специальной цене? Участвуйте в акции «Я выбираю Mercury»!')
      
    include includes/any-question.pug