extends includes/layout.pug
include includes/news-item.pug

block title
  title Новости

block content
  .news
    .wrapper
      .news__head
        .news__title.h1 Новости
        .news__sort
          select.js-select
            option 2019 год
            option 2018 год
            option 2017 год
            option 2016 год
            option 2015 год
      .news__list
        +news-item(require('../img/news-1.jpg'), 'Дарим защитный чехол при покупке любого лодочного мотора HDX', 'Если Вы приобретете один из подвесных лодочных моторов HDX до 31 января, в качестве подарка Вы получите удобный чехол для...')
        +news-item(require('../img/news-2.jpg'), 'Акция «Сезон ближе - цены ниже!»', 'Cамые популярные лодочные моторы Mercury по выгодной цене. Только до 31 марта 2019 года')
        +news-item(require('../img/news-3.jpg'), 'Спешите за подарками от «Посейдона»!', 'Компания «Посейдон» подготовила для покупателей фирменных лодок приятные скидки и отличные подарки.')
        +news-item(require('../img/news-4.jpg'), 'Акция «Я выбираю Mercury»', 'Хотите приобрести мотор Mercury по специальной цене? Участвуйте в акции «Я выбираю Mercury»!')
        +news-item(require('../img/news-1.jpg'), 'Дарим защитный чехол при покупке любого лодочного мотора HDX', 'Если Вы приобретете один из подвесных лодочных моторов HDX до 31 января, в качестве подарка Вы получите удобный чехол для...')
        +news-item(require('../img/news-2.jpg'), 'Акция «Сезон ближе - цены ниже!»', 'Cамые популярные лодочные моторы Mercury по выгодной цене. Только до 31 марта 2019 года')
        +news-item(require('../img/news-3.jpg'), 'Спешите за подарками от «Посейдона»!', 'Компания «Посейдон» подготовила для покупателей фирменных лодок приятные скидки и отличные подарки.')
        +news-item(require('../img/news-4.jpg'), 'Акция «Я выбираю Mercury»', 'Хотите приобрести мотор Mercury по специальной цене? Участвуйте в акции «Я выбираю Mercury»!')
        +news-item(require('../img/news-1.jpg'), 'Дарим защитный чехол при покупке любого лодочного мотора HDX', 'Если Вы приобретете один из подвесных лодочных моторов HDX до 31 января, в качестве подарка Вы получите удобный чехол для...')
        +news-item(require('../img/news-2.jpg'), 'Акция «Сезон ближе - цены ниже!»', 'Cамые популярные лодочные моторы Mercury по выгодной цене. Только до 31 марта 2019 года')
        +news-item(require('../img/news-3.jpg'), 'Спешите за подарками от «Посейдона»!', 'Компания «Посейдон» подготовила для покупателей фирменных лодок приятные скидки и отличные подарки.')
        +news-item(require('../img/news-4.jpg'), 'Акция «Я выбираю Mercury»', 'Хотите приобрести мотор Mercury по специальной цене? Участвуйте в акции «Я выбираю Mercury»!')
        +news-item(require('../img/news-1.jpg'), 'Дарим защитный чехол при покупке любого лодочного мотора HDX', 'Если Вы приобретете один из подвесных лодочных моторов HDX до 31 января, в качестве подарка Вы получите удобный чехол для...')
        +news-item(require('../img/news-2.jpg'), 'Акция «Сезон ближе - цены ниже!»', 'Cамые популярные лодочные моторы Mercury по выгодной цене. Только до 31 марта 2019 года')
        +news-item(require('../img/news-3.jpg'), 'Спешите за подарками от «Посейдона»!', 'Компания «Посейдон» подготовила для покупателей фирменных лодок приятные скидки и отличные подарки.')
        +news-item(require('../img/news-4.jpg'), 'Акция «Я выбираю Mercury»', 'Хотите приобрести мотор Mercury по специальной цене? Участвуйте в акции «Я выбираю Mercury»!')
  
      include includes/pagination.pug
    include includes/any-question.pug