extends includes/layout.pug

include includes/card.pug
include includes/checkbox.pug
include includes/products-list.pug

block title
  title Страница товара

block content
  .product-detail
    .wrapper
      include includes/breadcrumb.pug
      .product-detail__title.h1 Надувная моторная лодка из ПВХ Marlin 330
      .product-detail__main.d-flex
        .js-product-detail__slider-wrap.product-detail__slider.col-50
          .product-detail__label.card__label 5%
          .js-product-detail-main-slider
            .product-detail__slider-item
              img(src=require('../img/product-item-detail-img.jpg'), alt="")
            .product-detail__slider-item
              img(src="https://i3.stat01.com/1/7149/71489019/075a3e/lodka-pvh-marlin-340-slk.jpg" alt="")
            .product-detail__slider-item
              img(src="https://sata25.ru/apps/shop32/add_files/marlin_ms.jpg" alt="")
            .product-detail__slider-item
              img(src="https://motor-lodki.ru/images/stories/virtuemart/product/_________________5476f61a6d436.jpg", alt="")
            .product-detail__slider-item
              img(src="https://i3.stat01.com/1/7149/71489019/075a3e/lodka-pvh-marlin-340-slk.jpg" alt="")
            .product-detail__slider-item
              img(src="https://sata25.ru/apps/shop32/add_files/marlin_ms.jpg" alt="")
            .product-detail__slider-item
              img(src="https://motor-lodki.ru/images/stories/virtuemart/product/_________________5476f61a6d436.jpg", alt="")

        .product-detail__content.col-50
          .product-detail__top
            .product-detail__cost
              .product-detail__oldprice 23 600 руб.
              .product-detail__price 1 100 000 руб.
            .product-detail__action
              .product-detail__counter
                include includes/counter.pug
              a.btn(href="#!") Заказать
          .product-detail__color
            .product__color-label Цвет:
            .product__color-list
              .product__color-item(style="background: red")
              .product__color-item(style="background: #8391AF")
              .product__color-item(style="background: #23257A")

          .product-detail__table-main
            table
              tr
                td Длина, мм
                td Длина, мм	3600
              tr
                td Ширина, мм	
                td 1780
              tr
                td Диаметр баллона, мм
                td 490	
              tr
                td Количество отсеков, шт
                td 4 + киль
              tr
                td Максимальная грузоподъёмность, кг
                td 650
              tr
                td Максимальная вместимость пассажиров, чел.
                td 5	
              tr
                td Масса лодки, кг
                td 54
              tr
                td Высота транца, мм
                td 380	
              tr
                td Толщина транца, мм
                td 21
              tr
                td Тип сидений
                td Передвижные
              tr
                td Тип упаковки	
                td Сумка конверт+ сумка под пайол
              tr
                td Тип пола	
                td Сборный на ал. профиль (мама/папа) + стрингер.
              tr
                td Комплектация
                td Сумка конверт+ сумка под пайол
              tr
                td Рекомендуемая мощность мотора, л. с.
                td Сумка конверт+ сумка под пайол	
              tr
                td Плотность ткани, г/м
                td Весло разборное 1600 мм — 2 шт. Сидения (банки) — 2 шт. Насос ножной (помпа) — 1 шт. Ремкомплект — 1 шт. Паспорт — 1 шт.
            
            a(href="#!").btn.btn--blue Все характеристики
      
      .product-detail__tab.js-tabs
        .tab-nav
          a(href="#tab-1").product-detail__tab-item.active.tab-link Характеристики
          a(href="#tab-2").product-detail__tab-item.tab-link Описание
          a(href="#tab-3").product-detail__tab-item.tab-link Видео
          a(href="#tab-4").product-detail__tab-item.tab-link Отзывы

        #tab-1.tab-block.active
          table
            tr
              td Длина, мм
              td Длина, мм	3600
            tr
              td Ширина, мм	
              td 1780
            tr
              td Диаметр баллона, мм
              td 490	
            tr
              td Количество отсеков, шт
              td 4 + киль
            tr
              td Максимальная грузоподъёмность, кг
              td 650
            tr
              td Максимальная вместимость пассажиров, чел.
              td 5	
            tr
              td Масса лодки, кг
              td 54
            tr
              td Высота транца, мм
              td 380	
            tr
              td Толщина транца, мм
              td 21
            tr
              td Тип сидений
              td Передвижные
            tr
              td Тип упаковки	
              td Сумка конверт+ сумка под пайол
            tr
              td Тип пола	
              td Сборный на ал. профиль (мама/папа) + стрингер.
            tr
              td Комплектация
              td Сумка конверт+ сумка под пайол
            tr
              td Рекомендуемая мощность мотора, л. с.
              td Сумка конверт+ сумка под пайол	
            tr
              td Плотность ткани, г/м
              td Весло разборное 1600 мм — 2 шт. Сидения (банки) — 2 шт. Насос ножной (помпа) — 1 шт. Ремкомплект — 1 шт. Паспорт — 1 шт.
        #tab-2.tab-block
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quae, molestiae, quia omnis ullam, commodi perspiciatis voluptatem fuga reiciendis eligendi sed enim officiis quidem! Nostrum quasi rem quod facere tempora, laborum distinctio accusamus officia fugit sint soluta minus similique eos maiores inventore animi sed quidem rerum? Recusandae impedit suscipit expedita excepturi tempore magnam reprehenderit eaque consectetur unde ratione obcaecati in aut, nisi nostrum numquam molestias quibusdam, omnis rerum eligendi harum porro ex corrupti vero iste. Perferendis ipsam consectetur commodi in harum omnis. Saepe laboriosam atque omnis ad aspernatur earum voluptatibus debitis architecto doloribus doloremque, veritatis fugiat aliquid tenetur facilis illum?
        #tab-3.tab-block
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus nihil temporibus facere quidem modi debitis, molestias corporis perferendis sapiente suscipit aspernatur odio voluptatibus odit eligendi provident, ea atque magnam. Nostrum cum assumenda laudantium, debitis quod itaque veniam quisquam dolore facilis obcaecati neque necessitatibus dolorem soluta odio dolor doloribus deserunt.
        #tab-4.tab-block
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur libero ipsam nesciunt eaque? Ad ex adipisci doloribus ut assumenda atque, voluptates dolorum voluptatem sit repellat exercitationem delectus quas eveniet cum natus quidem? Voluptate impedit cupiditate nam delectus, consequuntur ea a illo quas quod sunt facere eligendi asperiores ipsam ex consectetur earum qui dolore debitis at nostrum! Id molestias veniam exercitationem laudantium, omnis magnam, at, voluptates vel temporibus totam asperiores. Deleniti.
    
    
    +productsList('С этим товаром покупают')
    +productsList('Похожие товары')

    include includes/any-question.pug