extends includes/layout.pug
include includes/card.pug

block title
  title Страница поиска

block content
  .search-page
    .wrapper
      .search-page__tags.catalog__tag-list
        a.btn.btn--blue.catalog__tag(href="#!").active Товары
        a.btn.btn--blue.catalog__tag(href="#!") Все остальное
      .search-page__form
        include includes/search.pug

      .products-list__items
        .products-list__item
          +card('Marlin 320SLK', require('../img/products/product-1.jpg'), '1 100 000', '', true, true)
        .products-list__item
          +card('Nissan Marine NM 9.8 BS', require('../img/products/product-2.jpg'), '1 100 000', 'Nissan Marine - это надежность и мощь! Представляем вам лодочный мотор Nissan Marine 9.8, мощностью 9,8 л.с.')
      
    include includes/any-question.pug